body {
  background-color: #eee;
  font-family: "Work Sans", Arial, sans-serif;
}

.App {
  text-align: center;
}

.App-header {
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: #222;
  color: white;
}
.App-header h1 {
  margin: 0;
  font-size: 1.25rem;
}
