body {
  background-color: #222;
  font-family: "Work Sans", Arial, sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 500px;
  margin: 0 auto;
  background-color: #eee;
  text-align: center;
}

.App-header {
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: #222;
  color: white;
}
.App-header h1 {
  margin: 0;
  font-size: 1.25rem;
}

.App-toolbar {
  display: flex;
}

.App-toolbar button {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  margin-bottom: 0;
  padding: 0.75rem;
  background-color: teal;
  border-radius: 0;
}

.App-toolbar svg {
  width: 2em;
  height: 2em;
  padding: 0.25rem;
  fill: #fff;
}

.App-toolbar button:active,
.App-toolbar button:hover {
  background-color: darkblue;
}

.App-toolbar button:first-child {
  border-top-left-radius: 5px;
}

.App-toolbar button:last-child {
  border-top-right-radius: 5px;
}

.App-toolbar button:not(:last-child) {
  border-right-width: 1px solid #fff;
}
