body {
  background-color: $keppel;
  font-family: $text-font-stack;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: $max-width;
  margin: 0 auto;
  background-color: $gallery;
  text-align: center;
}

.App-header {
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: $elm;
  color: $white;
}
.App-header h1 {
  margin: 0;
  font-size: 1.25rem;
}

.App-toolbar {
  display: flex;
}

.App-toolbar button {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  margin-bottom: 0;
  padding: 0.75rem;
  background-color: $elm;
  border-radius: 0;

  &:active,
  &:hover {
    background-color: darken($elm, 2%);
  }

  &:first-child {
    border-top-left-radius: 5px;
  }

  &:last-child {
    border-top-right-radius: 5px;
  }

  &:not(:last-child) {
    border-right-width: 1px solid $white;
  }
}

.App-toolbar svg {
  width: 2em;
  height: 2em;
  padding: 0.25rem;
  fill: $white;
}
