.button {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 1rem 0;
  font-family: inherit;
  padding: 0.85em 1em;
  -webkit-appearance: none;
  border: 1px solid transparent;
  border-radius: 5px;
  -webkit-transition: background-color 0.25s ease-out, color 0.25s ease-out;
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
  font-size: 0.9rem;
  line-height: 1;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  background-color: $keppel;
  color: $white;

  &:hover,
  &:focus {
    background-color: darken($keppel, 2%);
    color: $white;
  }

  &[disabled] {
    opacity: 0.3;
    background-color: $gallery;
    color: $black;
  }
}
