.player {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;

  * {
    flex-basis: calc(100% / 3);
  }
}

.player-name {
  font-size: 18px;
  color: $scorpion;
  font-weight: bold;
}

.player button {
  width: 100%;
  margin-bottom: 0;
}
