.player-container {
  display: flex;
  margin-top: auto;
}

.player {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  padding: 1rem;
  width: 50%;
}

.player * {
  margin-bottom: 0.5rem;
}

.player *:last-child {
  margin: 0;
}
