$token-colors: (
  diamond: $monza,
  cloth: $purple-heart,
  silver: $slate-gray,
  gold: $buttercup,
  spice: $vida-loca,
  leather: $mule-fawn,
  bonus3: $pacific-blue,
  bonus4: $pacific-blue,
  bonus5: $pacific-blue,
  camel: $pacific-blue
);

.tokens-container {
  width: 100%;
}

.token-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0 0.25rem 1rem 0.25rem;
  padding: 20px 12px;
  background-color: $white;
  box-shadow: $global-box-shadow;
  border-radius: $global-border-radius;

  svg {
    margin-right: 8px;
    width: 3.75em;
    height: 3.75em;
  }

  @each $name, $color in $token-colors {
    &.-#{$name} {
      fill: $color;
    }
  }
}

.token {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 48px;
  margin: 3px;
  background-color: $black;
  border: 0;
  border-radius: $global-border-radius;
  box-shadow: $global-box-shadow;
  font-family: $text-font-stack;
  color: $white;
  -webkit-appearance: none;
  line-height: 48px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;

  @each $name, $color in $token-colors {
    &.-#{$name} {
      background-color: $color;
    }
  }
}
