// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Regular font family
/// @type List
$text-font-stack: "Roboto Condensed", Arial, sans-serif !default;

/// White
/// @type Color
$white: #fefefe;

/// Gallery
/// @type Color
$gallery: #eee;

/// Wild sand
/// @type Color
$wild-sand: #f4f4f4;

/// Black
/// @type Color
$black: #222;

/// Body text color
/// @type Color
$scorpion: #565656;

/// Pacific blue
/// @type Color
$pacific-blue: #03a9c5;

/// Monza - Diamonds
/// @type Color
$monza: #d0021b;

/// Cloth
/// @type Color
$purple-heart: #af1acd;

/// Silver
/// @type Color
$slate-gray: #6f7f92;

/// Gold
/// @type Color
$buttercup: #f5a623;

/// Spices
/// @type Color
$vida-loca: #63a11b;

/// Leather
/// @type Color
$mule-fawn: #8b572a;

/// Container's maximum width
/// @type Length
$max-width: 500px !default;

/// Default value for box shadow
/// @type String
$global-box-shadow: 0 2px 4px 0 rgba($black, 0.1);

/// Default value for border radius
/// @type String
$global-border-radius: 8px;
