.button {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 1rem 0;
  font-family: inherit;
  padding: 0.85em 1em;
  -webkit-appearance: none;
  border: 1px solid transparent;
  border-radius: 5px;
  -webkit-transition: background-color 0.25s ease-out, color 0.25s ease-out;
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
  font-size: 0.9rem;
  line-height: 1;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  background-color: #419e93;
  color: #fefefe;
}

.button:hover,
.button:focus {
  background-color: #398c83;
  color: #fefefe;
}

.button[disabled] {
  opacity: 0.3;
  background-color: #c6c6c6;
}

.button.secondary {
  background-color: #e24a4a;
  color: #fefefe;
}

.button.secondary:hover,
.button.secondary:focus {
  background-color: #ae3838;
  color: #fefefe;
}
